* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #ffffff;
}

header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #e4e43f;
}

header nav {
    width: 50%;
}

header nav ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;

}

.main-index {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-index h1 {
    padding: 20px;
}


.main-index section {
    display: grid;
    grid-template-areas: "titulo titulo titulo"
        "texto texto texto"
        "bloque1 bloque2 bloque3"
        "bloque4 bloque5 bloque6";
    gap: 20px;
}


.main-index section h2 {
    grid-area: titulo;
}

.main-index section p {
    grid-area: texto;
}

.main-index section .ropa-a {
    grid-area: bloque1;
}

.main-index section .hogar-a {
    grid-area: bloque2;
}

.main-index section .electro-a {
    grid-area: bloque3;
}

.main-index section .ropa-b {
    grid-area: bloque4;
}

.main-index section .hogar-b {
    grid-area: bloque5;
}

.main-index section .electro-b {
    grid-area: bloque6;
}




.main-index section div {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(255, 255, 0, 0.2),
        0 2px 4px rgba(0, 0, 0, 0.1);
}

.main-index section div h3 {
    padding: 10px;
}

.main-index section div img {
    width: 80%;
    padding: 10px;
}

.main-index section div button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #f0f0f0;
    color: #333;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1),
        0 2px 3px rgba(255, 255, 0, 0.2);
}

footer {
    padding: 20px;
    display: grid;
    grid-template-areas: "derechos derechos"
        "iframe-a iframe-b"
        "iframe-c iframe-c";
    gap: 20px;
}

footer p {
    grid-area: derechos;
    justify-self: center;

}

footer .iframe-a {
    grid-area: iframe-a;
    justify-self: center;

}

footer .iframe-b {
    grid-area: iframe-b;
    justify-self: center;

}

footer .iframe-c {
    grid-area: iframe-c;
    justify-self: center;

}

footer iframe {
    width: 60%;
}

/* contacto */


.main-contacto section {
    display: flex;
    justify-content: center;
    border: 1px solid blue;
    width: 30%;
    border-radius: 10px;
}

form div {
    padding: 20px;
}

.padre-carrusel {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.carrusel {
    width: 60%;
}

@media (max-width:1000px) {

    .main-index section {
        grid-template-areas: "titulo titulo"
            "texto texto"
            "bloque1 bloque2"
            "bloque3 bloque4"
            "bloque5 bloque6";
    }
}

@media (max-width:768px) {

    .main-index section {
        grid-template-areas: "titulo"
            "texto"
            "bloque1"
            "bloque2"
            "bloque3"
            "bloque4"
            "bloque5"
            "bloque6";
    }

    header {
        flex-direction: column;
    }

    header nav {
        width: 100%;
    }
}

@media (max-width:480px) {
    header nav ul {
        flex-direction: column;
        padding-bottom: 20px;
    }

    header nav ul li {
        padding: 10px;
    }
}